.section {
  padding: 10px 10px 10px 10px;
}

#Q {
  background-color: honeydew;
}

#A {
  background-color: lightcyan;
}

#C {
  background-color: lightpink;

}

#R {
  background-color: lightgoldenrodyellow;
}

.approved {
  color: green;
}

.rejected {
  color: red;
}

#Grid {
  transition: all 1s allow-discrete;

  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 3fr;

  #Q {
    grid-column: 1;
    grid-row: 1;
  }

  #A {
    textarea {
      width: 100%;
      height: 1.5em;
      resize: none;
      font-size: 1em;
    }

    grid-column: 1;
    grid-row: 2;
  }

  #C {
    grid-column: 1;
    grid-row: 3;
  }

  #R {
    grid-column: 2;
    grid-row: 1/4;
  }

  &:hover {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 5fr;

    #Q {
      grid-column: 1/3;
      grid-row: 1;
    }

    #A {
      textarea {
        height: 5em;
      }

      grid-column: 1/3;
      grid-row: 2;
    }

    #C {
      grid-column: 1;
      grid-row: 3;

      .rejected {
        display: none;
      }
    }

    #R {
      grid-column: 2;
      grid-row: 3;
    }
  }
}
